/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 7, 12, 0.95);
    padding: 18px 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #5bc0be;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    background: url("{% static 'images/event_bg.jpg' %}") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 176, 244, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #f2f2f2;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.btn {
    text-decoration: none;
    background-color: #5bc0be;
    color: white;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #060606;
    transform: scale(1.05);
}
.container{
    position: relative;
    text-align: center;
    color:white ;

}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    justify-content: center;


}
.ar{
    justify-content: center;
}

